

:root {
    /* Base Colors */
    --color-white: #FFFFFF;
    --color-black: #2C3E50;
    --color-dark-bg: #1A1A1A; /* For dark mode background */
  
    /* Primary Colors */
    --color-blue: #4A89DC;
    --color-green: #48CFAD;
    --color-red: #E9573F;
    --color-purple: #967ADC;
  
    /* Optional: Lighter/Darker variants */
    --color-blue-light: rgba(74, 137, 220, 0.1);
    --color-green-light: rgba(72, 207, 173, 0.1);
    --color-red-light: rgba(233, 87, 63, 0.1);
    --color-purple-light: rgba(150, 122, 220, 0.1);
  }

  
  .icon {
    font-size: 24px; /* Adjust size */
    color: #007bff; /* Change color */
    margin-right: 10px; /* Add spacing */
  }

.head h2{
    color: var(--color-dark-bg);
}
.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.add-user{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: var(--color-dark-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    cursor: pointer;
  }
  