.calendar {
    padding: 2rem;
    border-radius: 16px;
    background: #ffffff;
    box-shadow: 6px 6px 14px rgba(0, 0, 0, 0.08), -6px -6px 14px rgba(255, 255, 255, 0.8);
    width: 300px;
    max-width: 350px;
  }
  
  .react-calendar {
    border: none;
    border-radius:20px;
    font-size: 16px;
    width: 100%;
    line-height: 1.6;
    background: transparent;
  }
  
  .react-calendar__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.2rem;
  }
  
  .react-calendar__navigation button {
    background: linear-gradient(145deg, #ffffff, #e8ecef);
    border: none;
    border-radius: 10px;
    color: #1a1a1a;
    font-size: 1.2rem;
    font-weight: 600;
    padding: 10px 16px;
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1), -3px -3px 8px rgba(255, 255, 255, 0.8);
  }
  
  .react-calendar__navigation button:hover {
    transform: translateY(-3px);
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.12), -5px -5px 12px rgba(209, 208, 121, 0.7) ;;
  }
  
  .react-calendar__month-view__weekdays {
    font-size: 0.9rem;
    font-weight: 600;
    color: #666;
    margin-bottom: 0.8rem;
  }
  
  .react-calendar__month-view__days {
    gap: 8px;
  }
  
  .react-calendar__tile {
    padding: 0.8rem;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
    background: transparent;
    transition: background 0.2s ease, transform 0.2s ease, box-shadow 0.2s ease;
    color: #1a1a1a;
    font-weight: 500;
    border:none;
  }
  
  .react-calendar__tile:hover {
    background:rgba(209, 208, 121, 0.7) ;
    color:white;
    transform: scale(1.1);
    box-shadow: 0 0 8px rgba(0, 102, 255, 0.2);
  }
  
  .react-calendar__tile--now {
    background: black;
    color: white;
    font-weight: 700;
    box-shadow: 0 0 10px rgba(209, 208, 121, 0.7) ;
  }
  
  .react-calendar__tile--active {
    background:rgba(209, 208, 121, 0.7) ;
    color: #ffffff;
    border-radius: 10px;
    font-weight: 600;
    box-shadow: 0 0 12px rgba(209, 208, 121, 0.7) ;
  }
  
  .react-calendar__tile--active:hover {
    background: rgba(209, 208, 121, 0.7) ;
    transform: scale(1.1);
  }
  
  